table {
    flex-wrap: wrap;
    border-collapse: collapse;
} 
.cnome {
    background-color: chartreuse;
}
td {
    min-width: 90px;
    text-align: center;
    height: 50px;
    border: 1px solid #111;

}
#container
main {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;;
    font-family: 'Helvetica',sans-serif;
}
th {
    border: 1px solid #333;
    height: 50px;}
h2 {
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    display: flex;
    
}